 
/* Shuffle */
.shuffle-item {
    margin-left: 0;
}
.sppb-lightbox {
  padding: 0;
}
.sppb-addon-lightbox:before,
.sppb-addon-lightbox:after {
  content: " ";
  display: block;
}
.sppb-addon-lightbox:after {
  clear: both;
}
.sppb-addon-lightbox .sppb-lightbox {
}
.sppb-addon-content .gallery-img {
}
.sppb-addon-content .shuffle-item {
}

/* Lightbox */
  .sppb-lightbox {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}
.sppb-lightbox li {
    float:left;
	display: inline-block;
    padding: 0;
	margin-left: 0!important;
}

.sppb-lightbox li .overlay {
    opacity: 1;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0;
    /*background: rgba(0, 0, 0, 0.4);*/
	 transition: all ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    color: #fff;
}
.sppb-lightbox li:hover .overlay {
    opacity: 1;
	-webkit-filter: brightness(0.9) contrast(1.2);
	-moz-filter: brightness(0.9) contrast(1.2);
	-ms-filter: brightness(0.9) contrast(1.2);
	-o-filter: brightness(0.9) contrast(1.2);
	filter: brightness(0.9) contrast(1.2);
}
.sppb-lightbox li a {
    display: block;
}
.sppb-lightbox li a:after {
    opacity: 0;
    overflow: hidden;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    /*background: rgba(0, 0, 0, 0.1);*/
    box-shadow: inset 0 0 40px rgba(0, 0, 0, .2);
}
.sppb-lightbox li:hover a:after {
    opacity: 1;
    box-shadow: inset 0 0 0 10px rgba(0, 0, 0, .2), inset 0 0 50px rgba(0, 0, 0, .5);
}
.sppb-lightbox li.small a:after {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, .05);
}
.sppb-lightbox li.small:hover a:after {
    box-shadow: inset 0 0 0 6px rgba(0, 0, 0, .3);
}
.sppb-lightbox li a .ap-plus-1 {
	opacity: 0;
	z-index:1;
    font-family: 'ap-arrows';
    font-style: normal;
    font-weight: 100;
    font-variant: normal;
    text-transform: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
	text-align:center;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
    border-radius:5px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    background: rgba(0,0,0,.57);
    color: #fff;
    transition: opacity 300ms ease-in-out 0.2s, background 300ms ease-in-out, transform 300ms ease-in-out 0.2s;
    -webkit-transition: opacity 300ms ease-in-out 0.2s, background 300ms ease-in-out, transform 300ms ease-in-out 0.2s;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
}
.sppb-lightbox li:hover a .ap-plus-1 {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.sppb-lightbox li a .ap-plus-1:hover {
    opacity: 1;
}

/* IMAGE LIGHTBOX SELECTOR */

#imagelightbox {
    cursor: pointer;
    position: fixed;
    z-index: 10000;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .5);
    /* 50 */
    
    box-shadow: 0 0 3.125em rgba( 0, 0, 0, .5);
    /* 50 */
}
/* ACTIVITY INDICATION */

#imagelightbox-loading,
#imagelightbox-loading div {
    border-radius: 50%;
}
#imagelightbox-loading {
    width: 2.5em;
    /* 40 */
    
    height: 2.5em;
    /* 40 */
    
    background-color: #444;
    background-color: rgba( 0, 0, 0, .5);
    position: fixed;
    z-index: 10003;
    top: 50%;
    left: 50%;
    padding: 0.625em;
    /* 10 */
    
    margin: -1.25em 0 0 -1.25em;
    /* 20 */
    
    -webkit-box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75);
    /* 40 */
    
    box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75);
    /* 40 */
}
#imagelightbox-loading div {
    width: 1.25em;
    /* 20 */
    
    height: 1.25em;
    /* 20 */
    
    background-color: #fff;
    -webkit-animation: imagelightbox-loading .5s ease infinite;
    animation: imagelightbox-loading .5s ease infinite;
}
@-webkit-keyframes imagelightbox-loading {
    from {
        opacity: .5;
        -webkit-transform: scale( .75);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale( 1);
    }
    to {
        opacity: .5;
        -webkit-transform: scale( .75);
    }
}
@keyframes imagelightbox-loading {
    from {
        opacity: .5;
        transform: scale( .75);
    }
    50% {
        opacity: 1;
        transform: scale( 1);
    }
    to {
        opacity: .5;
        transform: scale( .75);
    }
}
/* OVERLAY */

#imagelightbox-overlay {
    background-color: #fff;
    background-color: rgba( 255, 255, 255, .85);
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
/* "CLOSE" BUTTON */

#imagelightbox-close {
    width: 2em;
    height: 2em;
    text-align: left;
    background-color: #999;
    background-color: rgba(0,0,0,.2);
    border-radius: 50%;
    position: fixed;
    z-index: 10002;
    top: 2.5em;
    right: 2.5em;
    border: none;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
#imagelightbox-close:hover,
#imagelightbox-close:focus {
    background-color: #777;
    background-color: rgba(0, 0, 0, .4);
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
}
#imagelightbox-close:before,
#imagelightbox-close:after {
    width: 2px;
    background-color: #fff;
    content: '';
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 50%;
    margin-left: -1px;
}
#imagelightbox-close:before {
    -webkit-transform: rotate( 45deg);
    -ms-transform: rotate( 45deg);
    transform: rotate( 45deg);
}
#imagelightbox-close:after {
    -webkit-transform: rotate( -45deg);
    -ms-transform: rotate( -45deg);
    transform: rotate( -45deg);
}
/* CAPTION */

#imagelightbox-caption {
    text-align: center;
    color: #fff;
    font-size: 110%;
    background-color: #777;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    z-index: 10001;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.625em;
    /* 10 */
}
/* NAVIGATION */

#imagelightbox-nav {
    background-color: #444;
    background-color: rgba( 0, 0, 0, .5);
    border-radius: 20px;
    position: fixed;
    z-index: 10001;
    left: 50%;
    bottom: 3.75em;
    /* 60 */
    
    padding: 0.313em;
    /* 5 */
    
    -webkit-transform: translateX( -50%);
    -ms-transform: translateX( -50%);
    transform: translateX( -50%);
}
#imagelightbox-nav button {
    width: 1em;
    /* 20 */
    
    height: 1em;
    /* 20 */
    
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0.313em;
    /* 5 */
}
#imagelightbox-nav button.active {
    background-color: #fff;
}
/* ARROWS */

.imagelightbox-arrow > i {
    font-family: 'ap-arrows';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.imagelightbox-arrow {
    width: 3.75em;
    /* 60 */
    
    height: 7.5em;
    /* 120 */
    
    background-color: #444;
    background-color: rgba( 0, 0, 0, .3);
    border: none;
    vertical-align: middle;
    display: none;
    position: fixed;
    z-index: 10001;
    top: 50%;
    border-radius: 3px;
    margin-top: -3.75em;
    /* 60 */
    
    -webkit-transition: color .3s ease, background-color .3s ease;
    transition: color .3s ease, background-color .3s ease;
}
.imagelightbox-arrow:hover,
.imagelightbox-arrow:focus {
    background-color: #666;
    background-color: rgba( 0, 0, 0, .55);
}
.imagelightbox-arrow:active {
    background-color: #444;
    background-color: rgba( 0, 0, 0, .75);
}
.imagelightbox-arrow-left {
    left: 2.5em;
    /* 40 */
}
.imagelightbox-arrow-left > i {
    margin-left: -2px;
}
.imagelightbox-arrow-left > i,
.imagelightbox-arrow-right > i {
    font-size: 220%;
    color: #fff;
}
.imagelightbox-arrow-right {
    right: 2.5em;
    /* 40 */
}
.imagelightbox-arrow-right > i {
    margin-right: -4px;
}
#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-nav,
.imagelightbox-arrow {
    -webkit-animation: fade-in .25s ease;
    animation: fade-in .25s ease;
}
#imagelightbox-caption {
    -webkit-animation: fade-in-up .5s ease;
    animation: fade-in-up .5s ease;
}
@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fade-in-up {
    from {
        opacity: 0;
        -webkit-transform: translateY( 30px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY( 0);
    }
}
@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY( 30px);
    }
    to {
        opacity: 1;
        transform: translateY( 0);
    }
}
@media (max-width: 768px) {

    #imagelightbox-close {
        top: 1.25em;
        /* 20 */
        
        right: 1.25em;
        /* 20 */
    }
    #imagelightbox-nav {
        bottom: 1.25em;
        /* 20 */
    }
    .imagelightbox-arrow {
        width: 2.5em;
        /* 40 */
        
        height: 3.75em;
        /* 60 */
        
        margin-top: -1.75em;
        /* 30 */
    }
    .imagelightbox-arrow-left {
        left: 1.25em;
        /* 20 */
    }
    .imagelightbox-arrow-right {
        right: 1.25em;
        /* 20 */
    }
    .imagelightbox-arrow-left > i,
    .imagelightbox-arrow-right > i {
        font-size: 180%;
        line-height: 130%;
    }
}
@media (max-width: 480px) {
    .img-item,
	.img-item img {
        width:100%;
    }
	.imagelightbox-arrow-left {
        left: 0;
    }
    .imagelightbox-arrow-right {
        right: 0;
    }
}